<!DOCTYPE html>
<html>
  
  <head>
    <script>
      var jsonfile =jsonfile;
      var response_status = response_status;
    </script>
  </head>

  <body>
       
    <p style="text-align:center" > 
      <table class="table" style="border:2px dotted blue; margin-left:auto;margin-right:auto;"  >
        <tbody>
          <tr>
            <td>Status</td>
            <td> {{response_status}} </td>
          </tr>
          <tr>
            <td>Response</td>
            <td> {{jsonfile}} </td>
          </tr>
        </tbody>
      </table>
      <a href="/"> Go to Home </a> 
    </p><br>

  </body>

</html>